<!DOCTYPE html>
<html>
    <head>
        <title>Catálago de Filmes</title>
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="css/style-menu.css" rel="stylesheet" type="text/css">
        <link href="css/style-home.css" rel="stylesheet" type="text/css">

        <script type="text/javascript">
        
            function showMovieInfo(){
                var xhr = new XMLHttpRequest();                         
                xhr.open('GET', 'http://localhost:8082/filme');
                xhr.send();
            }

            function getMovies() {

                var xhr = new XMLHttpRequest();                         
                xhr.open('GET', 'http://localhost:8082/busca-filmes');                

                xhr.onreadystatechange = () => {
                    if(xhr.readyState == 4) {                        
                        if(xhr.status == 200) {                            
                            var movies = JSON.parse(xhr.response);                                                       
                            showMovies(movies);
                        }
                    }
                };                

                xhr.send();
            }

            function showMovies(movies) {                                
                movies.forEach(movie => {                                        
                    var gridItem = document.createElement("div");
                    gridItem.setAttribute("class", "item-gallery")

                    var link = document.createElement("a");
                    link.setAttribute("href", `/filme/${movie._id}`);
                    
                    var img = createImage(movie.ImagePath);
                    var span = document.createElement("span");
                    span.setAttribute("class", "title-gallery")
                    span.innerHTML = movie.Name;

                    link.appendChild(img);                    
                    link.appendChild(span);
                    gridItem.appendChild(link);
                    container.appendChild(gridItem);
                });                
            }

            function createImage(imagePath){
                var img = document.createElement("img");
                
                var path = "./" + imagePath.substring(imagePath.indexOf("images"), imagePath.length);                
                path = path.replace(/\\/g, "/");                

                img.setAttribute("src", path);
                img.setAttribute("class", "img-gallery");
                img.setAttribute("alt", "");

                return img;
            }
        </script>

    </head>

    <body onload="getMovies()">
        <header>
            <div class="center">
                <div class="header-left">
                    <div class="menu-header">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- <li><a href="/login">Login</a></li> -->
                            <li><a href="/cadastro">Cadastrar Filme</a></li>
                            <!-- <li><a href="/cadastro-usuario">Cadastrar Usuário</a></li>  -->
                        </ul>
                    </div>
                </div>
        
                <div class="header-right">
                    <div class="search">
                        <!--Criar campo de busca-->
                    </div>
                </div>
            </div>
        </header>

        <section class="destaque">             
            <iframe class="video-destaque" src="https://www.youtube.com/embed/4QRdB4RAQMs?autoplay=1&mute=1&playlist=4QRdB4RAQMs&loop=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

            <div class="overlay"></div>

            <div class="texto-destaque">
                <h2>Vingadores: Ultimato</h2>
                <h3>Trailer 2 legendado.</h3>
                <p>Aqui vai a descrição completa do filme.</p>
            </div>

        </section>        

        <section class="movie-grid"> 
            <div class="container-gallery" id="container">
            </div>                
        </section>
    </body>
</html>