<!DOCTYPE html>
<html>
    <head>
        <title>Catálago de Filmes</title>
        <meta charset="utf-8">        
        <link href="css/style-menu.css" rel="stylesheet" type="text/css">
        <link href="css/style-home.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
        
        <script type="text/javascript" src="./script/menu-header.js"></script>
        <script type="text/javascript" src="./script/home.js"></script>

    </head>

    <body onload="getMovies()">
        <header>
            <div class="center" id="menu">                
            </div>
        </header>        

        <section class="movie-grid"> 
            <div class="container-gallery" id="container">                
            </div>                

            <input type="button" value="Ordenar por Nome" onclick="sortMovies('title-gallery')">
            <input type="button" value="Ordenar por Categoria" onclick="sortMovies('category-movie')">
            <input type="button" value="Ordenar por Avaliação" onclick="sortMovies('medium-rating')">
        </section>        
        
    </body>
</html>