<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <style type="text/css"></style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="styles/style.css">    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Catálogo de Filmes</title>
</head>
<body>
    <div id="nav-placeholder" class="topnav">
    </div>    
    <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
    </script>      

    <div class="form">                        
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/lGO6FcnZ0ek?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>            
        </div>  
    </div>    
</body>