<!DOCTYPE html>
<html>
    <head>
        <title>Catálago de Filmes</title>
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <header>
            <div class="center">
                <div class="header-left">
                    <div class="menu-header">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/cadastro">Cadastrar Filme</a></li>
                            <li><a href="/cadastro-usuario">Cadastrar Usuário</a></li> 
                        </ul>
                    </div>
                </div>

                <div class="header-right">
                    <div class="search">
                        <!--Criar campo de busca-->
                    </div>
                </div>
            </div>
        </header>

        <section class="destaque"> 
            
            <iframe class="video-destaque" src="https://www.youtube.com/embed/4QRdB4RAQMs?autoplay=1&mute=1&playlist=4QRdB4RAQMs&loop=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

            <div class="overlay"></div>

            <div class="texto-destaque">
                <h2>Vingadores: Ultimato</h2>
                <h3>Trailer 2 legendado.</h3>
                <p>Aqui vai a descrição completa do filme.</p>
            </div>

        </section>

        <section class="vitrine">
            
            <div class="vitrine-title">
                <h3>Ação</h3>    
            </div>

            <div class="vitrine-flex">
                
                <div class="vitrine-single-banner"> 
                                      
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
            </div>

        </section>

        <section class="vitrine">
            
            <div class="vitrine-flex">
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
            </div>
            
        </section>

        <section class="vitrine">
            
            <div class="vitrine-flex">
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
                <div class="vitrine-single-banner">
                    <div class="vitrine-wraper" style="background-image: url('images/velozesfuriosos.jpeg');"></div>
                </div>
            </div>
            
        </section>

        <script src="script/jquery.js"></script>
	    <script src="script/slick.min.js"></script>

        <script>
        $('.vitrine-flex').slick({
            dots: false,
            arrows:false,
            infinite: false,
            centerMode: false,
            speed:1000,
            slidesToShow: 6,
            autoplay: true,
            autoplaySpeed: 3000,
            pauseOnHover:false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                    slidesToShow: 3
                    }
                }]
        });
    
        $('.vitrine-wraper').hover(function(){
            $(this).css('z-index','1000');
        })
    
        $('.vitrine-wraper').mouseout(function(){
            $(this).css('z-index','0');
        })
        </script>

    </body>
</html>