<!DOCTYPE html>
<head>
    <title>Catálogo de Filmes</title>
    <meta charset="UTF-8">
    <link href="css/style-menu.css" rel="stylesheet" type="text/css">
    <link href="css/style-home.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">    
    
    <script type="text/javascript" src="./script/menu-header.js"></script>    
</head>

<body onload="buildHeader()">    
    <header>
        <div class="center" id="menu">                
        </div>
    </header>

    <section>
        <div>
            <img src="/images/error 404.png">
        </div>
    </section>
</body>