body{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #111A23;
    overflow-x: hidden;
}

.center{
    position: fixed;
    width: 100%;
    z-index: 1000;    
	top:-10px;
    background-color: #465E73 !important;
    padding: 1.1rem 1rem;
}

.clear{clear: both;}


.header-left{
	float: left;    
    position: fixed;
}

.menu-header{
	position: fixed;
	top:-10px;
	display: inline-block;
}

.menu-header ul{
    position: fixed;
    list-style-type: none;
    top: 13px;
    left: 15px;
    margin: 0;
    padding: 0;
}

.menu-header li{
	font-size: 14px;
	display: inline-block;	
    margin-left: 280px;
    margin-right: -250px;
}

.menu-header li a:hover {
    background-color: #274659;
}

.menu-header a{
	color: white;
	text-decoration: none;
    padding: 18px 20px;    
    text-align: center;
    font-size: 20px;
}

/**/

.header-right{
	margin-top:10px;
	float: right;
}

.search{
	display: inline-block;
}

@media screen and (max-width: 768px){
	.menu-header{display: none;}
}
