section.destaque{
	margin: 50px 0px 0px 0px;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
	position: relative;
	z-index: 1;
	overflow-y: hidden;
	overflow-x: hidden;	
}

iframe.video-destaque{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;	
}

.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top:90px;
	margin-left: 4%;	
}

.texto-destaque h2{
	color: #8191A6;
	font-size: 60px;
    margin-top: -70px;
	text-transform: uppercase;
	text-shadow: rgb(90, 88, 88) 0.1em 0.1em 0.2em;
	max-width: 300px;
}

.texto-destaque h3{
	margin:20px 0;
	font-size: 25px;
}

.texto-destaque p{
	font-size: 19px;
}

.texto-destaque a{
	background-color: rgba(100,100,100,0.3);
	color: white;
	text-decoration: none;
	padding: 8px 40px;
	font-size: 23px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
}

.movie-grid{
	margin-top: 25px;
	margin-right: 25px;
}

.container-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-auto-rows: 300px;	
    padding: 20px;	
    grid-gap: 20px;	
	grid-auto-flow: row;
}

.item-gallery {
    position: relative;        	
}

.item-gallery .img-gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;    
	border-radius: 15px;	
}

.item-gallery .title-gallery {
    display: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.item-gallery:hover .title-gallery {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    width: 100%;
    color: white;    
    font-size: 16pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.movie-info{	
	display: block;
	position: absolute;
	margin: 85px 250px 200px 250px;
	border-radius: 20px;
	background-image: linear-gradient(#1d1d1da6 0px, rgb(39, 70, 89) 100%);
	border: 2px solid #8191A6;
}

.main-info{	
	margin: 50px 60px;
	display: flex;	
	align-items: flex-start;
}

.movie-picture{
	max-width: 50%;
	max-height: 430px;
	overflow: hidden;
	border: 10px solid #8191A6;
	border-radius: 10px;	
}

.movie-picture img{
	display: block;
    width: auto;
	height: auto;							
}

.synopsis{
	width: 50%;	
	margin-right: 30px;
}

.rating{	
	margin-left: 40px;
	margin-right: 40px;
	max-width: 25%;
}

.rating h2{
	margin-left: 60px;
}

.medium-rating{
	width: 100%;	
	display: flex;
	align-items: center;	
	margin-top: -40px;
	margin-left: 60px;		
}

.medium-rating img{
	width: 60px;
	height: 60px;
	margin-left: 20px;	
}

.rate-movie{
	width: 100%;	
	display: flex;
	align-items: center;			
}

.rate-movie img{
	width: 40px;
	height: 40px;
}

.rate-movie img:hover{
	cursor: pointer;
	content: url('/images/star1.png');
}

.movie-content{		
	margin: 0px 40px 0px 100px;
	max-width: 50%;	
	max-height: 430px;
}

.movie-info h1{		
	color:  white;		
    font-size: 2em;
    font-weight: bold;
}

.movie-info h2{	
	color:  white;    
}

.movie-info p{	
	margin-top: -10px;
	color:  rgb(189, 189, 189);	    
	font-size: 14pt;
	text-align: justify;	
	line-height: 1.5;
}

.trailer{
	margin: 50px;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
	position: relative;
	margin: 60px;	
}

.movie-trailer{
	width: 90%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;	
	border-radius: 20px;
}

@media(max-width:768px){
    .container-gallery{
        grid-template-columns: repeat(1,1fr);
    }
}