.movie-grid {
	position: relative;
	margin: 10px 30px 30px 30px;
	font-family: 'Ropa Sans', sans-serif;
	color: white;
}

.container-gallery {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 280px;	
    grid-gap: 20px;	
	grid-auto-flow: row;	
}

.item-gallery {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 20px;
	background-image: linear-gradient(#1d1d1da6 0px, rgb(39, 70, 89) 100%);
	border: 3px solid #8191A6;
}

.item-gallery .img-gallery {
    width: 68%;
    height: 100%;
	border-radius: 20px;
	object-fit: fill;
}

.item-gallery #name-movie {
	display: block;
	position: absolute;	
	max-width: 300px;
	right: 18px;
    top: 0;
	font-size: 17pt;	
	text-align: center;	
	color: #A3D3D9;
}

.item-gallery #category-movie {
	display: block;
	position: absolute;	
	max-width: 300px;
	right: 18px;
    top: 96px;
	font-size: 17pt;
	text-align: center;	
}

.item-gallery #medium-rating {
	display: block;
	position: absolute;	
	max-width: 210px;
	right: 50px;
    top: 140px;
	font-size: 17pt;
	text-align: center;	
}

.item-gallery #icon-star {
	display: block;
	position: absolute;	
	width: 20px;
	right: 20px;
    top: 161px;
	object-fit: fill;
}

.item-gallery #movie-date {
	display: block;
	position: absolute;	
	max-width: 300px;
	right: 18px;
    top: 52px;
	font-size: 17pt;	
	text-align: center;
}

.item-gallery input {
	position: absolute;
	top: 220px;
	right: 18px;
	padding: 10px 26px;
	border-radius: 15px;
	background-color: #465E73;
	font-size: 11pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
}

.item-gallery input:hover {
    background-color: #A3D3D9;
    color: #326773;
	font-weight: bold;
}

.item-gallery .title-gallery {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media(max-width:768px) {
    .container-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

.order {
	position: relative;
	margin: 100px 30px 30px 30px;
	font-family: 'Ropa Sans', sans-serif;
	color: white;
}

.order .order-select-h2 {
	margin-top: -20px;
	float: right;
}

.order-select {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 12px 20px;
	border-radius: 10px;
	background-color: #465E73;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 12pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
}

.order-select:focus{
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

.order-button {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 12px 30px;
	border-radius: 15px;
	background-color: #465E73;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 12pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
}

.order-button:hover {
    background-color: #A3D3D9;
    color: #326773;
	font-weight: bold;
}