.movie-grid {
	position: relative;
	margin: 10px 30px 30px 30px;
	font-family: 'Ropa Sans', sans-serif;
	color: white;
}

.container-gallery {
    display: grid;
	grid-template-columns: repeat(5, 1fr);	
    grid-gap: 20px;	
	grid-auto-flow: row;	
	grid-auto-rows: 445px;
}

.item-gallery {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 20px;
	background-image: linear-gradient(#1d1d1da6 0px, rgb(39, 70, 89) 100%);
	border: 3px solid #8191A6;
	flex-direction: column;	
}

.image-grid .img-gallery {
    width: 100%;
    height: 100%;		
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	object-fit: fill;	
}

.image-grid {
	height: 230px;
	width: 100%;
}

.movie-data {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	width: 100%;
}

.line-1 {
	margin-left: 5%;
	height: 80px;
}

.line-1 #name-movie {
	color: #A3D3D9;
	font-size: 17pt;	
}

.line-2 {	
	display: flex;
	margin-left: 5%;
	height: 40px;
	align-items: center;
}

.line-3 {	
	display: flex;
	margin-left: 5%;
	height: 40px;
	align-items: center;
}

.line-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.item-gallery #rating {
	display: flex;
	flex-direction: line;
	align-items: center;
	margin-left: 5%;
}

.item-gallery #icon-star {	
	margin-left: 8px;	
	width: 20px;	
	height: 20px;	
}

.item-gallery input {			
	padding: 10px 26px;
	border-radius: 15px;
	background-color: #465E73;
	font-size: 11pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
	margin-right: 15px;	
}

.item-gallery input:hover {
    background-color: #A3D3D9;
    color: #326773;
	font-weight: bold;
}

.item-gallery .title-gallery {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media(max-width:1600px) {
    .container-gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:1366px) {
    .container-gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1024px) {
    .container-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:700px) {
    .container-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

.order {
	position: relative;
	margin: 100px 30px 30px 30px;
	font-family: 'Ropa Sans', sans-serif;
	color: white;
}

.order .order-select-h2 {
	margin-top: -20px;
	float: right;
}

.order-select {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 12px 20px;
	border-radius: 10px;
	background-color: #465E73;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 12pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
}

.order-select:focus{
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

.order-button {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 12px 30px;
	border-radius: 15px;
	background-color: #465E73;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 12pt;
	cursor: pointer;
	color: white;
    border:#465E73;
	font-weight: bold;
}

.order-button:hover {
    background-color: #A3D3D9;
    color: #326773;
	font-weight: bold;
}

.order-button:focus{
	border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}