.title {
    color:  white;		
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.form {
    position: relative;
	display: block;
	margin: 100px 250px 30px 250px;
	border-radius: 20px;
	background-image: linear-gradient(#1d1d1da6 0px, rgb(39, 70, 89) 100%);
	border: 2px solid #8191A6;
}

.form-div {
    margin: 25px 250px 25px 250px;
    font-family: 'Ropa Sans', sans-serif;
}

input[type=text], textarea, input[type=month], input[type=number], input[type=password], input[type=email]{
    width: 100%;
    padding: 10px 20px;
    border: 0px solid #ccc;
    margin: 8px 0;    
    box-sizing: border-box;    
    border-radius: 8px;
    background-color: #C8D9E8;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}

label {
    font-size: 20px;
    color: azure;  
}

input[type=file] {
    display: none;
}
  
.input-wrapper label {
    padding: 10px 20px;
    background-color: #465E73;
    box-sizing: border-box;    
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 100px;
}

.input-wrapper p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    color: azure;  
}

.input-wrapper label:hover {
    background-color: #A3D3D9;
    color: #326773;
}

.button-submit input {
    width: 100%;
    padding: 10px 20px;
    background-color: #465E73;
    box-sizing: border-box;   
    border-radius: 8px;
    cursor: pointer;
    color: azure;
    border:#465E73;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

.button-submit input:hover {
    background-color: #A3D3D9;
    color: #326773;
}

.login {
    position: absolute;
	display: flex;
	border-radius: 20px;
	background-image: linear-gradient(#1d1d1da6 0px, rgb(39, 70, 89) 100%);
	border: 2px solid #8191A6;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    height: 600px;
    margin-top: -300px;
    justify-content: center;    
    align-items: center;
    flex-direction: column;    
}

.form-login {    
    font-family: 'Ropa Sans', sans-serif;    
    width: 80%;
}

.login-input {
	display: flex;	
    background-color: #C8D9E8;    
    height: 37px;
    border: 0px solid #ccc;
    margin: 8px 0; 
    margin-bottom: 30px;       
    border-radius: 8px;
    background-color: #C8D9E8;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}

.txtLogin:focus{
    border-color: none !important;
	outline: 0;
	box-shadow: none !important;
}

.loginImg {
    height: 28px;
    width: 28px;
    align-self: center;
    margin-left: 10px;    
}

.form-login #submitLogin {
    margin-top: 20px;
}
