<!DOCTYPE html>
<html>
    <head>
        <title>Catálago de Filmes</title>
        <meta charset="utf-8">        
        <link href="../css/style-menu.css" rel="stylesheet" type="text/css">
        <link href="../css/style-home.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script type="text/javascript">

            function getMovie(){
                var xhr = new XMLHttpRequest();                         
                xhr.open('GET', document.location);                                      
                xhr.onreadystatechange = () => {
                    if(xhr.readyState == 4) {                        
                        if(xhr.status == 200) {  
                            let movie = JSON.parse(xhr.getResponseHeader('movie'));                            
                            showMovieInfo(movie);
                        }
                    }
                };
                xhr.send();
            }

            function showMovieInfo(movie){
                let mainSection = document.getElementById("main-section"); 
                let movieTitle = getMovieTitle(movie);

                let mainInfo = document.createElement('div');
                mainInfo.className = 'main-info';
                let moviePicture = getMoviePicture(movie);
                let mainContent = createMainContent(movie);
                let cast = createCast(movie);
                
                let middleInfo = getMiddleInfo(movie);

                mainInfo.appendChild(moviePicture);
                mainInfo.appendChild(mainContent);
                mainInfo.appendChild(cast);

                mainSection.appendChild(movieTitle);
                mainSection.appendChild(mainInfo);
                mainSection.appendChild(middleInfo);
            }

            function getMiddleInfo(movie){

                let middleInfo = document.createElement('div');
                middleInfo.className = 'main-info';

                var synopsis = document.createElement('div');
                synopsis.className = 'synopsis';

                synopsis.appendChild(createH2('Sinopse:'));
                synopsis.appendChild(createParagraph(movie.Synopsis));

                middleInfo.appendChild(synopsis);

                var rating = createMediumRating(movie);
                middleInfo.appendChild(rating);

                return middleInfo;
            }

            function createMediumRating(movie){

                var rating = document.createElement('div');
                rating.className = 'rating';

                rating.appendChild(createH2('Média:'));

                var mediumRating = document.createElement('div');
                mediumRating.className = 'medium-rating';

                var h1 = document.createElement('h1');
                h1.innerHTML = '4.9';
                h1.style = 'font-size: 3em; text-align: center;'

                var img = document.createElement('img');
                img.src = '/images/star1.png';

                mediumRating.appendChild(h1);
                mediumRating.appendChild(img);

                rating.appendChild(mediumRating);

                return rating;                
            }

            function createMainContent(movie){

                let mainInfo = document.createElement('div')
                mainInfo.className = 'movie-content';

                mainInfo.appendChild(createH2('Ano de Estréia:'));
                mainInfo.appendChild(createParagraph(new Date(movie.ReleaseDate).getFullYear()));

                mainInfo.appendChild(createH2('Categoria:'));
                mainInfo.appendChild(createParagraph(movie.Category));

                mainInfo.appendChild(createH2('Produtora:'));
                mainInfo.appendChild(createParagraph(movie.Producer));

                mainInfo.appendChild(createH2('Diretor:'));
                mainInfo.appendChild(createParagraph(movie.Director));

                return mainInfo;
            }

            function createCast(movie){

                let mainInfo = document.createElement('div')
                mainInfo.className = 'movie-content';

                mainInfo.appendChild(createH2('Elenco:'));
                let cast = movie.Cast.slice(0, 10);

                cast.forEach((actor) => {
                    mainInfo.appendChild(createParagraph(actor));
                });

                return mainInfo;
            }

            function createH2(content){
                var h2 = document.createElement('h2');
                h2.innerHTML = content;
                return h2;
            }

            function createParagraph(content){
                var p = document.createElement('p');
                p.innerHTML = content;
                return p;
            }

            function getMoviePicture(movie){
                let div = document.createElement('div');
                div.className = "movie-picture";

                let img = createImage(movie);
                div.appendChild(img);

                return div;
            }

            function createImage(movie){
                var imagePath = movie.ImagePath;
                var img = document.createElement("img");                
                
                var path = "/" + imagePath.substring(imagePath.indexOf("images"), imagePath.length);                
                path = path.replace(/\\/g, "/");                                             
                
                img.setAttribute("src", path);
                img.setAttribute('itemprop', 'image');
                img.alt = movie.Name;

                return img;
            }
            
            function getMovieTitle(movie){
                let title = document.createElement('h1');
                title.style = 'text-align: center; font-size: 3em;';
                title.innerHTML = movie.Name;
                return title;
            }

            function getVideoUrl(movie){
                let videoUrl = movie.Trailer;
                let videoId = videoUrl.substring(videoUrl.indexOf('/embed/') + 7, videoUrl.length);
                return videoUrl + `?autoplay=1&mute=1&playlist=${videoId}&loop=1&controls=0"`;
            }

            function createIframe(movie){
                let iframe = document.createElement('iframe');                             
                iframe.className = 'video-destaque';
                iframe.src = getVideoUrl(movie);
                iframe.allowFullscreen = true;
                iframe.title = 'YouTube video player';
                iframe.allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture';
                iframe.frameborder="0" 

                return iframe;
            }

        </script>
    </head>

    <body onload="getMovie()">
        
        <header>
            <div class="center">
                <div class="header-left">
                    <div class="menu-header">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- <li><a href="/login">Login</a></li> -->
                            <li><a href="/cadastro">Cadastrar Filme</a></li>
                            <!-- <li><a href="/cadastro-usuario">Cadastrar Usuário</a></li>  -->
                        </ul>
                    </div>
                </div>
        
                <div class="header-right">
                    <div class="search">
                        <!--Criar campo de busca-->
                    </div>
                </div>
            </div>
        </header>
        
        <section class="movie-info" id="main-section">                                          
        </section>
    </body>
</html>